<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" data-toggle="modal" data-target="#showdata"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>
<!-- Modal -->
<div class="modal fade" id="showdata" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report Generator</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="">Please Select Date</label>
                <input type="date" name="date" id="date">
                <input type="button" value="Get Report" class="ml-1 btn-success p-1" onclick="getReport()">
            </div>

            <div id="data">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="printReport()">Print Report</button>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Number of Drivers</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <%= countData.totalDrivers %>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-drivers-license fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total Number Of Dustbin</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <%= countData.totalDustbin %>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-trash fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Completed Complaints
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    <%= countData.completedComplain %>
                                </div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: <%= countData.completedComplain %>%" aria-valuenow="50"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Pending Complaints</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <%= countData.totalComplain %>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-clock-o fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Customer Complaints</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area" style="overflow-y: scroll;">
                    <div class="">
                        <table class="table border">
                            <% for(var i=0; i < feedback.length; i++) { %>
                                <tr>
                                    <td>
                                        <b>By : <%= feedback[i].userName %> ,</b>
                                        <%= feedback[i].message %>
                                    </td>
                                    <td style="width: 30px;color: green;">
                                        <a href="/mark-as-complete?id=<%= feedback[i].complainid %>">
                                            <i class="fa fa-check" title="mark as complete"></i>
                                        </a>
                                    </td>

                                    <td style="width: 30px;color: rgb(135, 103, 103);" title="remove complaint">
                                        <a href="/remove-complain?id=<%= feedback[i].complainid %>"
                                            onclick="return confirmRequire()">
                                            <i class="fa fa-trash" onMouseOver="this.style.color='red'"
                                                onMouseOut="this.style.color='rgb(135, 103, 103)'"></i>
                                        </a>
                                    </td>

                                    <td style="width: 30px;" title="check and reply">
                                        <i class="fa fa-eye" data-toggle="modal" data-target="#exampleModal<%= i %>"
                                            style="cursor: pointer;"></i>
                                    </td>


                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">User Complain Reply
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <label for="" class="pt-2">Reply to</label>
                                                    <input type="email" readonly value="<%= feedback[i].userEmail %>"
                                                        class="form-control">
                                                    <label for="" class="pt-3">Message Reply</label>
                                                    <textarea name="message-reply" id="" cols="30" rows="10"
                                                        class="form-control"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Send Reply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Dustbin Indicator</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="/add-dustbin">
                        <button class="btn-success p-2">+ Add Dustbin</button>
                    </a>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie" style="overflow: scroll;">
                    <table class="table border">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Location
                            </th>

                            <th>
                                Managed By
                            </th>

                            <th>
                                Staus
                            </th>
                        </tr>
                        <% for(var i=0; i < dustbinInfo.length ; i++) { %>
                            <tr>
                                <td>
                                    <%= dustbinInfo[i]["id"] %>
                                </td>

                                <td class="border">
                                    <%= dustbinInfo[i]["dustbin-name"] %>
                                </td>

                                <td class="border">
                                    <%= dustbinInfo[i]["dustbin-location"] %>
                                </td>

                                <td class="border">
                                    <%= dustbinInfo[i].DustbinAllDetails[0]["driver-name"] %>
                                </td>

                                <td>
                                    <% var percent=-1;
                                        percent=(dustbinData[i].DustbinStatus[0]["dustbinCurWeight"]/dustbinData[i].DustbinStatus[0]["dustbinMaxWeight"])*100;
                                        if(percent>= 80 && percent <= 100) { %>
                                            <%= percent %>
                                                <i class="fas fa-circle text-danger"></i>
                                                <% } else if (percent>= 50){ %>
                                                    <%= percent %>
                                                        <i class="fas fa-circle text-info"></i>
                                                        <% } else if(percent>= 0) { %>
                                                            <%= percent %>
                                                                <i class="fas fa-circle text-success"></i>
                                                                <% } else { %>
                                                                    <%= percent %>
                                                                        <i class="fas fa-circle text-dark"></i>
                                                                        <% } %>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-danger"></i> Full
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Medium
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Empty
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Daily Cleaning Status</h6>
            </div>

            <div class="card-body">
                <div class="font-weight-bold">
                    Get Cleaning Status

                    <div class="float-right">
                        Choose date <input type="date" id="dailydate">
                        <input type="button" class="btn-success pl-2 pr-2" value="find">
                    </div>
                </div>
                <div id="dailyData"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Driver Information</h6>
                <div class="mt-1 p-1">
                    <a href="/add-driver" class="btn-success m-0 p-1">
                        <i class="fa fa-plus"></i>Add Driver</a>
                </div>
            </div>
            <div class="card-body" style="overflow-y: scroll; height: 200px;">
                <div class="text-center" style="display: flex;">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Working Location </th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        <% for(var i=0; i < driverInfo.length; i++ ){ %>
                            <tr>
                                <td>
                                    <img class="img-fluid" style="width: 40px;height: 40px; border-radius: 50%;"
                                        src="<%= driverInfo[i]['driver_photo'] %>" alt="missing">
                                    &nbsp; <%= driverInfo[i]['driver-name'] %>
                                </td>
                                <td>
                                    <%= driverInfo[i]['driver-mobile'] %>
                                </td>
                                <td>
                                    <%= driverInfo[i]['driver-address'] %>
                                </td>
                                <td>
                                    <i class="text-success">Present</i>
                                </td>
                                <td>
                                    <i class="ml-2 fas fa-edit text-black-50" aria-hidden="true" data-toggle="modal"
                                        data-target="#editdata<%= i %>"></i>
                                </td>
                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="editdata<%= i %>" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Report Generator</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" action="/update-driver">
                                        <div class="modal-body">
                                            <input type="text" value="<%= driverInfo[i]['driver_id'] %>" class="form-control" readonly name="driver_id">
                                            <input type="text" value="<%= driverInfo[i]['driver-name'] %>" class="form-control mt-1" name="driver-name">
                                            <input type="text" value="<%= driverInfo[i]['driver-email'] %>" class="form-control mt-1" name="driver-email">
                                            <input type="text" value="<%= driverInfo[i]['driver-mobile'] %>" class="form-control mt-1" name="driver-mobile">
                                            <input type="text" value="<%= driverInfo[i]['working-location'] %>" class="form-control mt-1" name="working-location">
                                            <input type="text" value="<%= driverInfo[i]['driver-address'] %>" class="form-control mt-1" name="driver-address">
                                            <label for="" class="mt-1">Male</label>
                                            <input type="radio" value="male" class="mt-1" <% if(driverInfo[i]['driver-gender'] == "male"){ %> selected <% } %> name="driver-gender">
                                            <label for="">Female</label>
                                            <input type="radio" value="female" class="mt-1" <% if(driverInfo[i]['driver-gender'] == "female"){ %> selected <% } %> name="driver-gender" >
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Edit Information</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </table>
                </div>
            </div>
        </div>

        <script>
            function getDailyData() {
                let date = document.getElementById("dailydate").value
                const xhttp = new XMLHttpRequest();

                xhttp.onload = function () {
                    document.getElementById("dailyData").innerHTML = this.responseText
                }
                xhttp.open("GET", `http://localhost:8081/getDailyReport?date=${date}`, true);
                xhttp.send();
            }
            function confirmRequire() {
                let ans = confirm("are you sure you want to this delete record ?")
                return ans
            }
            function getReport() {
                let date = document.getElementById("date").value
                const xhttp = new XMLHttpRequest();

                xhttp.onload = function () {
                    document.getElementById("data").innerHTML = this.responseText
                }
                xhttp.open("GET", `http://localhost:8081/getReport?date=${date}`, true);
                xhttp.send();
            }
            function printReport() {
                var divContents = document.getElementById("data").innerHTML;
                var a = window.open('', '', 'height=500, width=500');
                a.document.write('<html>');
                a.document.write('<body >');
                a.document.write(divContents);
                a.document.write('</body></html>');
                a.document.close();
                a.print();
            }
        </script>